html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: #202020;

  display: flex;
  justify-content: center;
  align-items: center;
}

canvas {
  display: block;
}

#ui {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 10px;
  top: 10px;
  left: 10px;
  z-index: 10;
  color: white;
  font-family: sans-serif;
}
