html,
body {
  margin: 0;
  padding: 0;
  background: #111;
  width: 100%;
  height: 100%;
}

canvas {
  display: block;
  margin: auto;
}

#ui {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 10;
  color: white;
  font-family: sans-serif;
}
